* {
    margin: 0;
    padding: 0;
    outline: 0;
  }
  :root {
    --bs-primary: #63b0e4;
    --bs-bg: #ffffff;
    --bs-text: #333333;
}

  body {
    background-color: aqua;
  }
  
  .filter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: .7;
  
    background: rgb(233,76,161);
    background: -moz-linear-gradient(90deg, rgba(233,76,161,1) 0%, rgba(199,74,233,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(233,76,161,1) 0%, rgba(199,74,233,1) 100%);
    background: linear-gradient(90deg, rgba(233,76,161,1) 0%, rgba(199,74,233,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e94ca1", endColorstr="#c74ae9", GradientType=1);
  }



.updateButton {
    margin-right: 7px;
}
body {
    background-color: #343a40;
    color: #ffffff;
}

.btn {
    background-color: #007bff !important; 
    border-color: #007bff !important; 
}


.btn:hover {
    background-color: #0056b3 !important; 
    border-color: #0056b3 !important;
}

.text-yellow-300 {
    color: #ffd966; 
}


.btn {
    color: white !important;
}


.button-cell button {
    margin-right: 7px; 
}

.taskTable {
    display: none;
}

.noTaskMsg {
    display: block;
}

.task {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

.task-todo {
    background-color: #0056b3;
    
}
.task-inprogress {
    background-color: #c6bd04;
}
.task-completed {
    background-color: #3bc600;
}
  