{% extends 'loginlayout.html' %}
{% block content %}
<style>
        body{
            background: #343a40;
        }
    .myblock{
        border:1px solid black;
        border-radius: 4%;
        background: #A0aec0;
        margin-top:20%;
        padding:3%;
    }
    .h1{
        margin-bottom:5% ;
        color:black;
    }
    .mybtn{
     background: #343a40;
    }

</style>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12"></div>
        <div class="col-lg-6 col-md-6 col-sm-12 myblock">
            <h1 class="h1">Signup for Task Manager</h1>
            <form action="/signup" method="POST" class="form-group">
                <div class="form-group">
                    <input type="text" name="username" placeholder="Username" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="email" name="email" placeholder="Email" class="form-control" required pattern=".+@.+\..+">
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Password" class="form-control" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-block btn-dark mybtn">Sign up</button>
                    <a href="/login" class="btn btn-block btn-dark mybtn link">Back to login</a>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12"></div>
    </div>
</div>


{% endblock %}